.assignment-comment-title {
  @include flex;
  @include flex_align(flex-end);
  @include flex_justify(space-between);
  .assignment-comment-title__number {
    font-size: $font-xs;
    line-height: 15px;
    color: var(--gray-600);
  }
}
.assignment-content {
  @include auto_margin_top(6px);
}
