.app-bar {
  @include flex;
  @include flex_align(flex-end);
  padding: 32px;
  .app-bar__title {
    font-size: $font-xl;
    line-height: 29px;
    font-weight: bold;
    color: var(--gray-900);
  }
}
